@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Abel', sans-serif;
}

.home h2 {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}

.home .left {
  border-left: 1px solid #BBB;
}

.home p {
  font-family: 'Roboto', sans-serif;
}
